fastapi==0.111.0
uvicorn==0.30.3
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
bcrypt<4
python-jose[cryptography]==3.3.0
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
pydantic==2.8.2
PyJWT==2.9.0
boto3==1.26.0
requests==2.32.3
pymemcache==4.0.0


